body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    text-align: center;
}

header {
    background-color: #d1d1d1;
    color: rgb(54, 54, 54);
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

h2 {
    color: #c7c7c7;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 20px 0;
    font-size: 25px;
    color: #fcf7f7;
}
a {
    text-decoration: none;
    color: #c7c7c7;
    border-style: solid;
    background-color: rgb(77, 76, 76);
    border-radius: 9px;
    padding: 10px 20px;
}
/* Responsive styles */
@media (max-width: 768px) {
    body {
        font-size: 16px; /* Adjust the base font size for smaller screens */
    }

    li {
        font-size: 18px; /* Adjust the font size of list items for smaller screens */
    }

    a {
        padding: 8px 16px; /* Adjust the padding of links for smaller screens */
    }
}
